{# ENG: Twig variable containing the name of the current route for the menu #}
{# FR: Variable Twig contenant le nom de la route actuelle pour le menu #}
{% set route = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# ENG: Display of the title of the view on the page with a "title" block, with the name of the site next to it #}
    {# FR: Affichage du titre de la vue sur la page avec un block "title", avec le nom du site à côté #}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {# ENG: Font-Awesome Inclusion #}
    {# FR: Inclusion Font-Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {# ENG: CSS Bootstrap Inclusion #}
    {# FR: Inclusion CSS Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# ENG: Include Custom Styles #}
    {# FR: Inclusion Styles perso #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# ENG: Block to add additional CSS files #}
    {# FR: Bloc pour ajouter des fichiers CSS additionnels #}
    {% block css %}{% endblock %}
</head>
<body>
    {# ENG: Include main menu #}
    {# FR: Inclusion du manu principal #}
    {% include 'partials/_main_navbar.html.twig' %}

    {# ENG: Inclusion of the display of "success" and "error" type flash messages #}
    {# FR: Inclusion de l'affichage des messages flashes de type "success" et "error" #}
    {% include 'partials/_flashes.html.twig'%}

    {# ENG: Block for displaying page content #}
    {# FR: Bloc pour l'affichage du contenue des pages #}
    {% block body %}{% endblock %}

    {# ENG: JS Bootstrap include #}
    {# FR: Inclusion JS Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
